    .contenedor{
			width: 980px;
      height: 100%;
			justify-content:center;
			margin-left:auto;
			margin-right:auto;
      align-items:center;
      text-align: center;
      justify-content: center;
      margin-top: 100px;
    }

    .casilla-formulario{
      background-color: lightgrey;
      text-align: center;
      width: 400px;
      height: 40px;
      border-radius: 25px;
      margin-bottom: 25px;
      font-size: 20px;
      outline: none;
    }

    .boton-registrar{
      border-radius: 18px;
      background-color: lightblue;
      text-align: center;
      border-radius: 15px;
      margin-bottom: 25px;
      font-size: 15px;
      width: 120px;
      height: 50px;
      color: white;
      outline: none;
    }
