<header id="cabecera-fija">
		<!--imagen del logo con enlace a la pagina principal-->
		<a id="logotipo" href="index.html">
			<img src="../../assets/img/blablacar.jpg" alt="logotipo blablacar" height="100" width="100"/>
		</a>
		<!--ahora añadimos las opciones del encabezado-->
		<!-- tambien se podria incluir una navigation bar de bootstrap-->
		<nav>
			<ul>
				<li><a routerLink="busqueda-coches"><!--<div class="search-icon"></div>-->Buscar</a></li>
				<li><a routerLink = "publicar">Publicar viaje</a></li>
				<li *ngIf="!(auth.auth.currentUser)"><a routerLink = "signup">Registrarse</a></li>
				<li *ngIf="!(auth.auth.currentUser)"><a routerLink = "login">Iniciar sesion</a></li>
				<li *ngIf="(auth.auth.currentUser)"><a routerLink = "profile">Perfil</a></li>
        <li *ngIf="(auth.auth.currentUser)"><a routerLink = "logout"> Cerrar sesion</a> </li>
			</ul>
		</nav>
</header>
<router-outlet></router-outlet>

